/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #333;
}

h2 {
  text-shadow: #35373a 0.2px 0.5px 0.8px;
}

.container {
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar-logo {
  flex: 0 0 30%;
  text-align: left;
  color: #05054e;
}

.navbar-icon {
  font-size: 30px;
  font-weight: 700;
}

.navbar-links {
  flex: 0 0 70%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 1rem;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #05054e;
}

.download-btn {
  background-color: #101214;
  color: white;
  font-size: 16px;
  padding: 1% 1.5%;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease-out;
}

.download-btn:hover {
  background-color: #774836;
  /* transition-duration: 1s;
  transition-timing-function: ease-out; */
}

.content {
  max-width: 100%;
  padding: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5%;
}

.home-image {
  display: flex;
  justify-content: center;
  flex: 0 0 60%;
}

.content-greeting {
  flex: 0 0 50%;
  padding-top: 5%;
  font-size: 40px;
}

.greeting {
  font-size: 65px;
  font-weight: 700;
}

.sub-greeting {
  font-size: 25px;
}

.vitto-img {
  object-fit: cover;
  width: 30%;
  border-radius: 30px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.1);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  margin: 3%;
}

.timeline-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 3%;
}

.project-cards {
  margin-top: 1%;
  margin-bottom: 1%;
}

.see-more {
  background-color: #101214;
  color: white;
  font-size: 16px;
  padding: 0.5% 0.5%;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease-out;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

.contact-socials {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

Card {
  background-color: #05054e;
}